<% provide(:title, "Hello World ldg pg") %>

<div class="row">
  <div class="col-xs-12">
    <h1>Hello, world!</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    This is just a quick-and-dirty "hello world" app to serve as a starting point for further modifications as needed...
  </div>
</div>